@model ecmBookStore.Models.SACH

@{
    ViewBag.Title = "Chi Tiết Sách - " + Model.TenSach; 
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main>
    <div class="container">
        <h1>@Model.TenSach</h1>
        <img src="~/images/@Model.AnhBia" class="img-fluid" alt="@Model.TenSach" style="height: 300px; object-fit: cover;">
        <div class="mt-4">
            <p><strong>Giá bán:</strong> @Model.GiaBan VNĐ</p>
            <p><strong>Mô tả:</strong> @Model.MoTa</p>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div id="Datmua" class="btn btn-primary">
                <a class="text-white list-unstyled" href="@Url.Action("ThemGioHang","Giohang",new {@MaSach = @Model.MaSach, @strUrl=Request.Url.ToString()})">Đặt mua</a>
            </div>
            <a href="@Url.Action("Index", "BookStore")" class="btn btn-secondary">Trở về danh sách sách</a>
        </div>
    </div>
</main>
